In [1]:
%matplotlib inline
import pandas as pd
import datetime as dt
import numpy as np
# filename="./Copy of webinar_registrations_11Aug.xls"
# df= pd.read_excel(filename)

# df.shape

In [2]:
import pycountry
code2Country= lambda x: pycountry.countries.get(alpha_2=x).name
code2Country('DE')

'Germany'

In [63]:
df.columns

Index(['First Name', 'Last Name', 'Email', 'Country/Region', 'Organization',
       'Job Title', 'Registration Time', 'Approval Status',
       'How would you assess your own level of expertise in data analysis?',
       'Please list your top two tools for data analysis and level of expertise (beginner, intermediate or advanced).',
       'What are your expectations in regards to these webinars series?',
       'How is your National Bureau of Statistics supporting the COVID-19 response?',
       'Country/Region Name', 'Datex'],
      dtype='object')

In [73]:
df.pivot_table(index='Datex', values='Last Name',aggfunc=len, fill_value=0)

            Last Name
Datex
2020-08-17         69
2020-08-18         61
2020-08-19         66
2020-08-20         65
2020-08-21         62
2020-08-22         59
2020-08-24         59
2020-08-25         58
2020-08-26         58
2020-08-27         55
2020-08-28         55

In [3]:
def genContryStats(df):
    dfbyCountry=df.pivot_table(index=['Datex'], values='Last Name',columns=['Country/Region'], aggfunc=len,fill_value=0)

    dfbyCountry =dfbyCountry.T
    dfbyCountry.reset_index(inplace=True)
    dfbyCountry['Country']=dfbyCountry['Country/Region'].apply(code2Country)

#     column_rename={col:dt.datetime.strftime(col, "%Y-%m-%d") for col in dfbyCountry.columns if isinstance(col, dt.datetime)}

#     dfbyCountry.rename(columns=column_rename, inplace=True)
#     print (cols)
#     cols=['Country']+list(column_rename.values())
#     print (cols)
#     dfbyCountry =dfbyCountry[cols]
    return dfbyCountry
# dfbyCountry = genContryStats(df)
# dfbyCountry

In [56]:
list(column_rename.values())

['2020-08-17',
 '2020-08-18',
 '2020-08-19',
 '2020-08-20',
 '2020-08-21',
 '2020-08-22',
 '2020-08-24',
 '2020-08-25',
 '2020-08-26',
 '2020-08-27',
 '2020-08-28']

In [11]:
dfbyCountry.reset_index(inplace=True)

In [14]:
dfbyCountry[dfbyCountry.Datex=='2020-08-17']

        Datex Country/Region  Last Name
0  2020-08-17             BI          1
1  2020-08-17             BW          1
2  2020-08-17             CD          1
3  2020-08-17             ER          1
4  2020-08-17             ET          2
5  2020-08-17             GB          6
6  2020-08-17             GE          1
7  2020-08-17             GH          2
8  2020-08-17             GM          1
9  2020-08-17             ID          3
10 2020-08-17             JP          2
11 2020-08-17             KE          8
12 2020-08-17             NG         16
13 2020-08-17             PH          2
14 2020-08-17             RW          7
15 2020-08-17             SN          1
16 2020-08-17             SO          1
17 2020-08-17             TH          1
18 2020-08-17             TN          1
19 2020-08-17             US         10
20 2020-08-17             ZW          1

In [65]:
df.Organization

0        National beruea of statistics
1             BPS Statistics Indonesia
2                     Charlie Harrison
3                                  ONS
4                                UNECA
                    ...
662                              GRID3
663    Philippine Statistics Authority
664                              Globe
665            Statistics of Indonesia
666           BPS Statistics Indonesia
Name: Organization, Length: 667, dtype: object

In [68]:
dfbyOrg=df.pivot_table(index=['Datex'], values='Last Name',columns=['Organization'], aggfunc=len,fill_value=0)

In [70]:
dfbyOrg = dfbyOrg.T

In [71]:
dfbyOrg

Datex,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-22,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
Organization,,,,,,,,,,,
AIMS Alumna,1,1,1,1,1,1,1,1,1,1,1
AIMS-RWANDA,1,1,1,1,1,1,1,1,1,1,1
Achraf Mrabet,1,1,1,1,1,1,1,1,1,1,1
Aims,1,1,1,1,1,1,1,1,1,1,1
Airtel Rwanda,1,1,1,1,1,1,1,1,1,1,1
Ashish Kumar,1,1,1,1,1,1,1,1,1,1,1
BPS Statistics Indonesia,2,2,2,2,2,2,2,2,1,1,2
Bernadette Newton,1,1,0,0,1,1,1,0,0,1,1
Center for health and biomedical Informatics,1,1,1,1,1,1,1,1,1,0,0
Central Bank of Nigeria,1,1,1,1,0,1,1,1,1,1,1
Centre for Health and Bio-formatics,1,0,0,0,0,0,0,0,0,0,0
Charlie Harrison,1,1,1,1,1,0,0,0,0,0,0
Chika Hayashi,1,1,1,1,1,1,1,1,1,1,1
DFID,1,1,2,1,1,1,1,1,1,1,1
DSN,0,0,0,0,0,0,0,0,1,0,0
Data Science Nigeria,1,1,1,1,1,1,1,1,1,1,1
ECA,1,1,1,1,1,1,1,1,1,1,1
GRID3,1,1,1,1,1,1,1,1,1,1,1
GSMA,0,0,0,0,1,1,1,1,1,0,0
GSS,1,1,1,1,1,1,1,1,1,1,1
Gambia Bureau of Statistics,1,1,1,1,1,1,1,1,1,1,1
Ghana Statistical Service,3,3,3,3,3,3,3,3,3,3,3
Globe,1,0,1,1,0,1,1,1,0,1,1
Institut des Statistiques et Etudes Economiques au Burundi (ISTEEBU),1,1,1,1,1,1,1,1,1,1,1
Kenya National Bureau of Statistics,4,4,4,4,4,3,3,3,3,3,2
Kenya national bureau of statistics,1,1,1,1,1,1,1,1,1,1,1
Louise Mwirigi,0,1,0,0,0,0,0,0,0,0,0
MTN,1,1,1,1,1,1,1,1,1,1,1
Ministry of Health,1,1,1,1,1,1,1,1,1,1,1
NATIONAL BUREAU OF STATISTICS,1,1,1,1,1,0,0,0,0,0,0
NBS,2,2,2,2,2,2,2,2,2,2,2
National Bureau of Statistics,6,4,5,5,5,5,5,5,5,5,5
National Institute of Statistics of Rwanda,4,4,4,4,4,3,3,3,3,3,3
National Statistics Office of Georgia - Geostat,1,0,1,1,0,0,0,0,1,1,0
National beruea of statistics,1,1,1,1,0,0,0,0,1,0,0
Nima Fallah,1,1,1,1,1,1,1,1,1,1,1
ONS,1,1,1,1,1,0,0,0,0,0,0
Philippine Statistics Authority,1,1,1,1,1,1,1,1,1,1,1
RCMRD,2,2,2,2,2,1,1,1,1,1,1
Rare Drop Zone,1,1,1,1,1,1,1,1,0,0,0
Statistical Institue for the Asia and the Pacific,1,1,1,1,1,1,1,1,1,1,1
Statistics of Indonesia,1,1,1,1,1,1,1,1,1,1,1
UNECA,1,0,1,1,1,1,1,1,1,1,1
UNESCAP,1,1,1,1,1,1,1,1,1,1,1
UNFPA,1,1,1,1,1,1,1,1,1,1,1
UNICEF,7,6,6,6,5,6,6,6,6,5,6
UNICEF - Multiple Indicator Cluster Surveys (MICS),1,0,1,1,1,1,1,1,1,1,1
United Nations,1,1,1,1,1,1,1,1,1,1,1
University of Nairobi,1,0,1,1,1,1,1,1,1,1,1
"University of Rwanda and Institut Supérieur Pédagogique de BUKAVU, DR CONGO",1,1,1,1,1,1,1,1,1,1,1

In [77]:
# pwd
['2020-08-17','2020-08-18','2020-08-19','2020-08-20','2020-08-21','2020-08-22','2020-08-24','2020-08-25','2020-08-26','2020-08-27','2020-08-28']

NameError: name 'pwd' is not defined

In [80]:
pd.read_csv?

In [100]:
# mydata08 = pd.read_csv("http://winterolympicsmedals.com/medals.csv", usecols=[1,5,7], nrows=5)
filename='../Webinars/91252291138 - Registration Report-2.xls'
# pd.read_excel(filename,skiprows=4,delimiter=" ")
df=pd.read_excel(filename,skiprows=2,nrows=1)
df['Scheduled Time'][0]

Timestamp('2020-08-18 18:00:00')

In [104]:
filePath='../Webinars/'
import os
Alldf = pd.DataFrame()
for filex in ([filex  for filex in os.listdir(filePath) if filex.endswith('xls')]):
    filename = filePath+filex
#     dfpd.read_csv(filename, skiprows=5)
    df_date = pd.read_excel(filename,skiprows=2,nrows=1)
    webinarDate = dt.datetime.strftime(df_date['Scheduled Time'][0], "%Y-%m-%d")
    df = pd.read_excel(filename, skiprows=5)
    print(webinarDate)
    df['Datex']= [webinarDate]*df.shape[0]
    Alldf=pd.concat([Alldf,df])

2020-08-26
2020-08-27
2020-08-28
2020-08-25
2020-08-24
2020-08-19
2020-08-18
2020-08-20
2020-08-21
2020-08-17

In [105]:
replaceDict={'AfDB':['Afdb','African Development Bank (AfDB)'],
 'NSO':['Agence Nationale De La Statistique Et De La Démographie (Ansd)',
        'Bps Statistics Indonesia','Central Bureau Of Statistics','Ghana Statistical Service'
       'Gambia Bureau Of Statistics','Gss',
        'Institut Des Statistiques Et Etudes Economiques Au Burundi (Isteebu)',
       'Kenya National Bureau Of Statistics','National Bureau Of Statistics',
        'National Institute Of Statistics Of Rwanda'
       'National Statistics Office Of Georgia - Geostat',
        'National Beruea Of Statistics','Nbs','Nisr',
       'Ons', 'Philippine Statistics Authority',
        'Statistics Of Indonesia', 'Uganda Bureau Of Statistics',
       'Uganda Bureau Of Statistics  (Ubos)',
       'Uganda Bureau Of Statistics (Ubos)','Ansd','Nbs'],
    'private':['Globe', 'Grid3', 'Gsma'],
 'MNO':['Airtel Rwanda','Mtn'],
 'UN':['United Nations', 'United Nations Development Programme''Undp', 'Uneca',
       'Unescap', 'Unfpa', 'Unicef','Unicef - Multiple Indicator Cluster Surveys (Mics)',
       'Chika Hayashi'],
 'Funders':['Dfid'],
 'NonProfit':['Hotosm','Joint Idp Profiling Service','Data Science Nigeria', 'Dsn',
              'Center Of Digital Transformation And Data Strategies, Ngo'],
 'Others':['Rare Drop Zone','Self','Nima Fallah','Ukk','Louise Mwirigi',
           'Charlie Harrison','Achraf Mrabet','Ashish Kumar', 'Bernadette Newton','Chika Hayashi'],
 'GovtAgency':['Kenya Plant Health Inspectorate Service.','Central Bank Of Nigeria',
               'Ministry Of Planning Investment And Economic Development, Puntland State','Ministry Of Health'],
'Academia':['Center For Health And Biomedical Informatics',
            'Centre For Health And Bio-Formatics',
            'Aims', 'Aims Alumna', 'Aims Rwanda', 'Aims-Rwanda','Lbis',
            'University Of Nairobi',
       'University Of Rwanda And Institut Supérieur Pédagogique De Bukavu,Dr Congo',
            'Statistical Institue For The Asia And The Pacific','Rcmrd']
}

In [100]:
np.unique([org.title().strip() for org in list(Alldf['Organization'])])

array(['Achraf Mrabet', 'Afdb', 'African Development Bank (Afdb)',
       'Agence Nationale De La Statistique Et De La Démographie (Ansd)',
       'Aims', 'Aims Alumna', 'Aims Rwanda', 'Aims-Rwanda',
       'Airtel Rwanda', 'Ansd', 'Ashish Kumar', 'Bernadette Newton',
       'Bps Statistics Indonesia',
       'Center For Health And Biomedical Informatics',
       'Center Of Digital Transformation And Data Strategies, Ngo',
       'Central Bank Of Nigeria', 'Central Bureau Of Statistics',
       'Centre For Health And Bio-Formatics', 'Charlie Harrison',
       'Chika Hayashi', 'Data Science Nigeria', 'Dfid', 'Dsn', 'Eca',
       'Gambia Bureau Of Statistics', 'Ghana Statistical Service',
       'Globe', 'Grid3', 'Gsma', 'Gss', 'Hotosm',
       'Institut Des Statistiques Et Etudes Economiques Au Burundi (Isteebu)',
       'Joint Idp Profiling Service',
       'Kenya National Bureau Of Statistics',
       'Kenya Plant Health Inspectorate Service.', 'Lbis',
       'Louise Mwirigi', 'Ministry Of Health',
       'Ministry Of Planning Investment And Economic Development, Puntland State',
       'Mtn', 'National Beruea Of Statistics',
       'National Bureau Of Statistics',
       'National Institute Of Statistics Of Rwanda',
       'National Statistics Office Of Georgia - Geostat', 'Nbs',
       'Nima Fallah', 'Nisr', 'Ons', 'Philippine Statistics Authority',
       'Rare Drop Zone', 'Rcmrd', 'Self',
       'Statistical Institue For The Asia And The Pacific',
       'Statistics Of Indonesia', 'Uganda Bureau Of Statistics',
       'Uganda Bureau Of Statistics  (Ubos)',
       'Uganda Bureau Of Statistics (Ubos)', 'Ukk', 'Undp', 'Uneca',
       'Unescap', 'Unfpa', 'Unicef',
       'Unicef - Multiple Indicator Cluster Surveys (Mics)',
       'United Nations', 'United Nations Development Programme',
       'University Of Nairobi',
       'University Of Rwanda And Institut Supérieur Pédagogique De Bukavu, Dr Congo'],
      dtype='<U75')

In [106]:
# np.unique([org.title().strip() for org in list(Alldf['Organization'])])
Alldf['Organization']=[org.title().strip() for org in list(Alldf['Organization'])]
Alldf.reset_index(inplace=True, drop=False)
allorgs=[]
for idx in Alldf.index:
    for key, value in replaceDict.items():
        if Alldf.iloc[idx]['Organization'] in value:
            allorgs.append(key)
#             Alldf.replace(Alldf.iloc[idx]['Organization'],key)
            break

In [107]:
# Alldf['Orgs']=allorgs
Alldf.shape,len(allorgs)

((910, 15), 713)

In [63]:
cols=['Country', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28']

dfbyCountry = genContryStats(Alldf)
dfbyCountry[cols]

Datex,Country,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
0,Burundi,1,1,1,1,1,1,1,1,1,1
1,Botswana,1,1,1,1,1,1,1,1,1,1
2,"Congo, The Democratic Republic of the",1,1,1,1,1,1,1,1,1,1
3,Switzerland,1,1,1,1,1,0,0,0,0,0
4,Côte d'Ivoire,2,2,2,2,2,2,2,2,2,2
5,Eritrea,1,1,1,1,1,1,1,1,1,1
6,Ethiopia,2,1,3,3,2,3,3,3,2,3
7,France,1,1,1,1,1,1,1,1,1,1
8,United Kingdom,8,8,8,7,9,7,6,6,6,6
9,Georgia,1,0,1,1,0,0,0,1,1,0
10,Ghana,2,2,2,2,2,2,2,2,2,2
11,Gambia,1,1,1,1,1,1,1,1,1,1
12,Indonesia,3,3,3,3,3,3,3,2,2,3
13,Japan,2,2,2,2,2,2,2,2,2,2
14,Kenya,10,9,9,9,9,7,8,8,8,7
15,Nigeria,18,16,17,17,15,15,16,15,13,13
16,Nepal,1,1,1,1,1,1,1,1,1,1
17,Philippines,2,1,2,2,1,2,2,1,2,2
18,Rwanda,11,11,11,11,10,9,10,10,9,9
19,Senegal,6,6,5,5,5,5,5,5,5,5
20,Somalia,3,3,3,3,2,2,2,3,2,2
21,Thailand,1,1,1,1,1,1,1,1,1,1
22,Tunisia,1,1,1,1,1,1,1,1,1,1
23,Uganda,6,6,6,6,6,6,6,5,4,4
24,United States,14,12,14,14,13,14,14,14,13,14
25,Zimbabwe,1,0,0,0,0,0,0,0,0,0

In [64]:
datecols=[col for col in cols if col.startswith('2020')]
addlastcol=['Totals']+list(dfbyCountry[datecols].sum(axis=0))
addlastcol

['Totals', 101, 92, 98, 97, 91, 88, 90, 88, 82, 83]

In [59]:
print (np.array(cols)[:,None].T.shape,np.array(addlastcol)[:,None].T.shape)
dfx = pd.DataFrame(data=[addlastcol], columns=cols)
dfx

(1, 11) (1, 11)

,Country,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
0,Totals,101,92,98,97,91,88,90,88,82,83

In [57]:
[list(range(5))]

[[0, 1, 2, 3, 4]]

In [67]:
df = pd.DataFrame([list(range(5))], columns=["a{}".format(i) for i in range(5)],index=[26])
df

    a0  a1  a2  a3  a4
26   0   1   2   3   4

In [68]:
# dfbyCountryx = dfbyCountry[cols]
# dfbyCountryx.iloc[26,:]=addlastcol
dfx = pd.DataFrame(data=[addlastcol], columns=cols,index=[26])
dfbyCountryx = dfbyCountry[cols]
dfbyCountryx=pd.concat([dfbyCountryx,dfx],axis=0)

In [69]:
dfbyCountryx

Datex,Country,2020-08-17,2020-08-18,2020-08-19,2020-08-20,2020-08-21,2020-08-24,2020-08-25,2020-08-26,2020-08-27,2020-08-28
0,Burundi,1,1,1,1,1,1,1,1,1,1
1,Botswana,1,1,1,1,1,1,1,1,1,1
2,"Congo, The Democratic Republic of the",1,1,1,1,1,1,1,1,1,1
3,Switzerland,1,1,1,1,1,0,0,0,0,0
4,Côte d'Ivoire,2,2,2,2,2,2,2,2,2,2
5,Eritrea,1,1,1,1,1,1,1,1,1,1
6,Ethiopia,2,1,3,3,2,3,3,3,2,3
7,France,1,1,1,1,1,1,1,1,1,1
8,United Kingdom,8,8,8,7,9,7,6,6,6,6
9,Georgia,1,0,1,1,0,0,0,1,1,0
10,Ghana,2,2,2,2,2,2,2,2,2,2
11,Gambia,1,1,1,1,1,1,1,1,1,1
12,Indonesia,3,3,3,3,3,3,3,2,2,3
13,Japan,2,2,2,2,2,2,2,2,2,2
14,Kenya,10,9,9,9,9,7,8,8,8,7
15,Nigeria,18,16,17,17,15,15,16,15,13,13
16,Nepal,1,1,1,1,1,1,1,1,1,1
17,Philippines,2,1,2,2,1,2,2,1,2,2
18,Rwanda,11,11,11,11,10,9,10,10,9,9
19,Senegal,6,6,5,5,5,5,5,5,5,5
20,Somalia,3,3,3,3,2,2,2,3,2,2
21,Thailand,1,1,1,1,1,1,1,1,1,1
22,Tunisia,1,1,1,1,1,1,1,1,1,1
23,Uganda,6,6,6,6,6,6,6,5,4,4
24,United States,14,12,14,14,13,14,14,14,13,14
25,Zimbabwe,1,0,0,0,0,0,0,0,0,0
26,Totals,101,92,98,97,91,88,90,88,82,83